.home {
  background: url('images/home-bg.jpg') no-repeat fixed center center / cover;
  height: calc(100vh - 64px);
  .overlay {
    background: rgba(0,0,0,.7);
    height: 100%;
  }
  .content {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 15px;
      text-transform: uppercase;
      margin-top: 0;
      word-break: break-all;
    }
    .name {
      color: #00bcd4;
    }
    .subtitle {
      font-size: 14px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 38px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 768px) {
  .home .content {
    .title {
      font-size: 72px;
    }
    .subtitle {
      font-size: 18px;
    }
  }
}
